*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* header section styling */
header{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/bg.jpg);

}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 8%;
}
.logo{
    cursor: pointer;
}
nav i{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    transition: color 0.5s;
}
nav i:hover{
    color: orangered;
}
.hero{
    width:100%;
    display: flex;
}
.hero-pic{
    width: 100%;
    height: 600px;
    background-image: url(images/header-img.jpg);
    background-position: center;
    background-size: cover;
}
.hero-pic img{
    width: 100%;
}
.hero-content{
    color: #fff;
    padding: 50px 100px 50px 50px;
}
.hero-content h2{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.hero-content h1{
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.hero-content p{
    font-size: 17px;
    line-height: 30px;
}
.hero-content .btn{
    margin-top: 50px;
    border: 2px solid #fff;
    outline: 0;
    background: transparent;
    color: #fff;
    padding: 10px 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    transition:  0.5s;
    letter-spacing: 2px;
}
.hero-content .btn:hover{
    background-color: #fff;
    color: #000;
}
@media screen and (min-width:425px){
    .hero{
        flex-direction: column-reverse;
    }
    .hero-content h1 {
        width: 100%;
    }
}
@media screen and (min-width:768px) {
    .hero {
        flex-direction: column-reverse;
    }
    .hero-content h1{
        width: 100%;
    }
}
@media screen and (min-width:1024px) {
    .hero {
        flex-direction: row;
    }
    .hero-content h1{
        width: 400px;
    }
}

/*  section 1 : benefits styles */
#benefits{
    background-color: #ef7a2e;
    width: 100%;
    min-height: 500px;
}
#benefits h1{
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.benefits-container{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.benefits-container .card{
    min-height: 250px;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    
}
.benefits-container .card h2{
    font-weight: 600;
    margin-bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.benefits-container .card p{
    font-size: 17px;
    margin-bottom: 20px;
}
.card a{
    font-size:20px;
    color: #000;
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
}
.card a:hover{
    color: #ef7a2e;
}
@media screen and (min-width:425px) {
    #benefits h1{
        font-size: 35px;
    }
    .benefits-container{
        flex-direction: column;
        padding: 20px 30px 50px;
    }
   

}
@media screen and (min-width:768px) {
    #benefits h1 {
        font-size: 50px;
    }

    .benefits-container {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px 30px 50px;
    }
    .benefits-container .card{
        flex-basis: 40%;
    }
}
@media screen and (min-width:1024px) {
    #benefits h1 {
        font-size: 80px;
    }
    .benefits-container {
        padding: 20px 70px 50px;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .benefits-container .card{
        flex-basis: 45%;
    }
}


/* Activities section styles */
#activities{
    width: 100%;
}
#activities h1{
    margin: 0 15%;
    text-align: center;
    color: #000;
    padding-top: 80px;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.activities-container{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 20px;
}
.activities-container .col-1{
    flex-basis: 50%;
    
}
.activities-container .col-2{
    flex-basis: 50%;
}
.col-1 img{
    width: 100%;
    margin-top: 50px;
}
.col-1 p{
    margin-top: 10px;
    font-weight: 400;
}
.col-2 img{
    width: 100%;
}


@media screen and (min-width:425px){
    #activities h1{
        font-size: 35px;
    }
    .activities-container{
        display: flex;
        flex-direction: column;
    }
    .activities-container .col-3{
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 20px;
        bottom:0;
    }
    .activities-container .col-3 img{
        flex-basis: 100%;
    }
   
}
@media screen and (min-width:768px){
    #activities h1 {
        font-size: 50px;
    }
    .activities-container {
        flex-direction: column;
    }

    .activities-container .col-3 {
        display: flex;
        gap: 15px;
        flex-direction: row;
    }
    .col-3 img{
        width: 200px;
        height: 200px;
    }
   
}
@media screen and (min-width:1024px){
    #activities h1{
        font-size: 80px;
    }
    .activities-container {
        display: flex;
        flex-direction: row;
    }
    
    .activities-container .col-3 {
        position: absolute;
        bottom: -100px;
        right: 0px;
        display: flex;
        gap: 10px;
    }
    .col-3 img{
        width: 250px;
        height: 250px;
    }
 
}
/* services section styles */
#services{
    width: 100%;
    min-height: 600px;
    margin-top: 150px;
    background-image: url(images/services_background.jpg);
    background-position: center;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.services-container{
    width: 80%;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.services-container .service{
    width: 250px;
    height: 200px;
    background-color: #ef7a2e;
    margin: 10px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding: 40px 20px; 
}
.services-container .service p{
    margin-top: 30px;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.services-container .service img{
    width: 40px;
}
.services-container .service .exclusive-img{
    width: 70px;
}
/* formats section styles */
#formats h1{
    text-align: center;
    color: #000;
    padding-top: 80px;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.formats-container {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.format{
    background-position: center;
    background-size: cover;
    flex-basis: 30%;
    height: 450px;
    color: #fff;
    margin: 10px;
    position: relative;
}
.format.pic-1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/format1.jpg);
}
.format.pic-2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/format2.jpg);
}
.format.pic-3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/format3.jpg);
}
.format.pic-4{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/format4.jpg);
}
.format.pic-5{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/format5.jpg);
}
.format.pic-6{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ), url(images/format6.jpg);
}
.format span{
    display: inline-block;
    width: 100%;
    padding: 0 30px 30px;
    position: absolute;
    bottom: 0;
}
.format span hr{
    margin-bottom: 20px;
    color: #444444;
}
.format span h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    font-weight: 600;
}
.format span p{
    color: #d3c7c7;
    font-size: 15px;
}
@media screen and (min-width:425px){
    #formats h1{
        font-size: 35px;
    }
    .formats-container{
        display: flex;
    }
    .format{
        flex-basis: 100%;
    }
}
@media screen and (min-width:768px){
    #formats h1{
        font-size: 50px;
    }
    .formats-container{
        display: flex;
    }
    .format{
        flex-basis: 40%;
    }
}
@media screen and (min-width:1024px){
    #formats h1{
        font-size: 80px;
    }
    .formats-container{
        display: flex;
    }
    .format{
        flex-basis: 30%;
    }
}

/* payments section styles */
#payments {
    background-color: #ef7a2e;
    width: 100%;
    min-height: 400px;
}

#payments h1 {
    text-align: center;
    font-size: 45px;
    color: #fff;
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 30px;
}

.payments-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.payments-container .card {
    min-height: 500px;
    background-color: #fff;
    text-align: center;
    
}
.payments-container .card .card-img{
    width: 100%;
    height: 50% ;
    background-position: center;
    background-size: cover;
}
.payments-container .card .card-text{
    margin-top: 20px;
}
.payments-container .card .card-text h2{
    color: #444444;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.payments-container .card .card-text p{
    color: #645e5e;
}
.payments-container .card .card-text img{
    width: 50px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.payments-container .card.card-1 .card-img {
    background-image: url(images/payment1.jpg);
}
.payments-container .card.card-2 .card-img{
    background-image: url(images/payment2.jpg);
}
.payments-container .card.card-3 .card-img{
    background-image: url(images/payment3.jpg);
}
.payments-container .card.card-4 .card-img{
    background-image: url(images/payment4.jpg);
}
@media screen and (min-width:425px) {
    .payments-container {
       flex-direction: column;
       padding: 20px 20px 50px;
    }
    .payments-container .card{
        height: 500px;
    }
}
@media screen and (min-width:768px) {
    .payments-container {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 20px 0 50px;
    }
    .payments-container .card{
        flex-basis: 40%;
    }
}
@media screen and (min-width:1024px) {
    .payments-container {
      flex-direction: row;
      padding: 20px 0 50px;
    }
    .payments-container .card{
        flex-basis: 20%;
    }
}




/* testimonials section styles */
#testimonials{
    width: 100%;
}
#testimonials h1 {
    text-align: center;
    color: #000;
    padding-top: 50px;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.testimonials-container{
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}
.testimonials-box{
    flex-basis: 40%;
    padding: 20px;
    display: flex;
    gap: 20px;
}
.testimonials-box .testimonials-img{
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 10px solid #ef7a2e;
}
.testimonials-box.box1 .testimonials-img{
    background-image: url(images/testimonials1.jpeg);
}
.testimonials-box.box2 .testimonials-img{
    background-image: url(images/testimonials2.jpeg);
}
.testimonials-box.box3 .testimonials-img{
    background-image: url(images/testimonials3.jpeg);
}
.testimonials-box.box4 .testimonials-img{
    background-image: url(images/testimonials4.jpeg);
}
.testimonials-box.box5 .testimonials-img{
    background-image: url(images/testimonials5.jpeg);
}
.testimonials-box.box6 .testimonials-img{
    background-image: url(images/testimonials6.jpeg);
}
.testimonials-text{
    padding-right: 20px;
}
.testimonials-text h3{
    margin-top: 15px;
    text-transform: uppercase;
    color: #ef7a2e;
}
@media screen and (min-width:425px){
    #testimonials h1{
        font-size: 25px;
    }
    .testimonials-container {
        display: flex;
        justify-content: center;
    }
    .testimonials-box{
        flex-basis: 100%;
        padding-right: 0;
    }
    .testimonials-box .testimonials-img{
        width: 250px;
        height: 100px;
    }
}
@media screen and (min-width:768px){
    #testimonials h1{
        font-size: 45px;
    }
    .testimonials-container {
        display: flex;
        justify-content: center;
    }
    .testimonials-box .testimonials-img {
        width: 150px;
        height: 100px;
    }
}
@media screen and (min-width:1024px){
    #testimonials h1{
        font-size: 60px;
    }
    .testimonials-box  {
        flex-basis: 50%;
    }
    .testimonials-box .testimonials-img {
        width: 180px;
        height: 100px;
    }
   
}
/* Contact section styles */
#contacts{
    background-image: url(images/contact-background.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px;
    padding: 50px 0;
    position: relative;
   
}
.contacts-container{
    background: #fff;
    width: 70%;
    min-height: 400px;
    margin: 0 auto;
    padding: 40px;
    position: relative;
    z-index: 2;
}
.contacts-container h1{
    text-align: center;
    font-size: 40px;
}
.contacts-container form{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.contacts-container form .input-group{
    flex-basis: 50%;
    padding: 10px;
    margin-top: 10px;
}
.contacts-container form .input-group input, textarea{
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    background-color: #eee;
    outline: 0;
    border: 1px solid #777;
}

.contacts-container form .message-box , .form-btn{
    flex-basis: 100%;
    padding: 10px;
}

.contacts-container form button{
    width: 100%;
    padding: 10px 0;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    cursor: pointer;
}

#contacts .back{
    height: 250px;
    background-color: #ef7a2e;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
@media screen and (min-width:425px){
    #contacts .back{
        width: 80%;
    }
    .contacts-container h1{
        font-size: 25px;
    }
    .contacts-container{
        padding: 15px;
    }
    .contacts-container form{
        flex-direction: column;
    }
}
@media screen and (min-width:768px){
    #contacts .back {
        width: 90%;
    }
    .contacts-container h1 {
        font-size: 40px;
    }
    .contacts-container form{
        flex-direction: row;
    }
}

footer{
    background-color: #333;
    height: 100px;
    color: #fff;
    text-align: center;
}
@media screen and (min-width:425px){
    footer {
        padding: 20px 0;
        font-size: 17px;
    }
}
@media screen and (min-width:768px){
    footer {
        padding: 40px 0;
    }
}
